.static-inner{
    padding: 50px 30px;
}

#staticWrapper header{
    margin-left: 10px;
    margin-bottom: 0px;
}

#staticWrapper .static-header {
    padding: 22px;
    background-color: #f0f0f0;
}

#staticWrapper .subHeader {
    font-style: italic;
}

#staticWrapper .static-tabs {
    background-color: #f0f0f0;
}

#staticWrapper .static-tabs .tab{
    display: inline-block;
    padding: 10px 20px;
    color: #959595;
    font-size: 32px;
    background-color: #f0f0f0;
    cursor:pointer;
}


#staticWrapper .panel{
    display:none;
}

#staticWrapper .panel.active{
    display: block;
}

#staticWrapper .tab.active{
    color: #e9746d;
    background-color: #fff;
}

#staticWrapper h2{
    font-family: source_sans_prolight;
    color: #3a404c;
    font-size: 35px;
}

#staticWrapper .content{
    font-family: source_sans_proregular;
    font-size: 18px;
}

#staticWrapper .content .textBlock{
    padding: 10px;
}

#staticWrapper .left{
    float:left;
}

#staticWrapper .center{
    text-align: center;
}

#staticWrapper .half-width{
    width: 50%;
}


#staticWrapper div.question {
    color: #e9746d;
    font-family: source_sans_prosemibold;
    font-size: 23px;
    padding-left: 10px;
    margin: 20px 0;
    cursor:pointer;
}

#staticWrapper div.answer {
    height: 0px;
    display: none;
    padding: 0;
    color: #000;
    margin-left: 35px;
    font-size: 16px;
}

#staticWrapper div.question.active div.answer{
    height: auto;
    padding-top: 15px;
    display: block;
}

#staticWrapper div.bio-container{
    margin-left: 20px;
    width: 70%;
}

#staticWrapper div.bio-contianer .name{
    font-size: 28px;
}

#staticWrapper div.bio-contianer .title{
    font-size: 23px;
}

#staticWrapper li.team-member{
    margin: 32px 0;
}

#headerMenuToggle.threeLines, #logo {
    position: absolute;
}